*.userprefs
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross/Consts.cs
Xamarin.Agora.Android/Xamarin.Agora.Full.Android/obj
Xamarin.Agora.Android/Xamarin.Agora.Full.Android/bin
Xamarin.Agora.Android/Xamarin.Agora.Voice.Android/bin
Xamarin.Agora.Android/Xamarin.Agora.Voice.Android/obj
Xamarin.Agora.iOS/Xamarin.Agora.Full.iOS/bin
Xamarin.Agora.iOS/Xamarin.Agora.Full.iOS/obj
Xamarin.Agora.iOS/Xamarin.Agora.Voice.iOS/bin
Xamarin.Agora.iOS/Xamarin.Agora.Voice.iOS/obj
Xamarin.Agora.iOS/Xamarin.Agora.Signaling.iOS/bin
Xamarin.Agora.iOS/Xamarin.Agora.Signaling.iOS/obj
Xamarin.Agora.iOS/Xamarin.Agora.SignalingHelper.iOS/obj
Xamarin.Agora.iOS/Xamarin.Agora.SignalingHelper.iOS/bin
Xamarin.Agora.Signaling.iOS.dll
Xamarin.Agora.SignalingHelper.iOS.dll
Xamarin.Agora.iOS/Xamarin.Agora.SignalingHelper.iOS/Native/DT.Agora.Signaling/Output/AgoraSignaling-Debug-iphoneuniversal
Nugets/**/*.dll
Nugets/**/*.pdb
Nugets/**/*.mdb
Nugets/**/lib
Xamarin.Agora.Forms/TestApp/TestApp/bin
Xamarin.Agora.Forms/TestApp/TestApp/obj
Xamarin.Agora.Forms/TestApp/TestApp.Android/bin
Xamarin.Agora.Forms/TestApp/TestApp.Android/obj
Xamarin.Agora.Forms/TestApp/TestApp.iOS/bin
Xamarin.Agora.Forms/TestApp/TestApp.iOS/obj
Xamarin.Agora.Mac/Xamarin.Agora.Full.Mac/bin
Xamarin.Agora.Mac/Xamarin.Agora.Full.Mac/obj
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross.MacOS/obj/
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross.MacOS/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross.Android/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross.Android/obj
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross.iOS/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross.iOS/obj
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Cross/DT.Samples.Agora.Cross/obj
Xamarin.Agora.Forms/DT.Samples.Agora.Full.Forms.Android/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Full.Forms.Android/obj
Xamarin.Agora.Forms/DT.Samples.Agora.Full.Forms.iOS/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Full.Forms.iOS/obj
Xamarin.Agora.Forms/DT.Samples.Agora.Full.Forms/bin
Xamarin.Agora.Forms/DT.Samples.Agora.Full.Forms/obj
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms.Android/bin
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms.Android/obj
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms.iOS/bin
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms.iOS/obj
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms/bin
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms/obj
Xamarin.Agora.Forms/packages
NugetsSDK/TestApp/.vs
NugetsSDK/.vs
Xamarin.Agora.Mac/.vs
Xamarin.Agora.Forms/.vs
Nugets/Xamarin.Agora.Full.Mac/lib/
*.nupkg
**/.vs
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms.MacOS/bin/
Xamarin.Agora.Forms/Xamarin.Agora.Full.Forms.MacOS/obj/
Xamarin.Agora.Mac/XamarinAgoraMacSample/bin/
Xamarin.Agora.Mac/XamarinAgoraMacSample/obj/


Xamarin.Agora.Android/Xamarin.Agora.Full.Android/Javadoc/zip
Xamarin.Agora.Android/Xamarin.Agora.Full.Android/Jars
Xamarin.Agora.Android/Xamarin.Agora.Voice.Android/Jars
Xamarin.Agora.Android/Xamarin.Agora.Full.Android/Javadoc/Javadoc_3.0.0
Xamarin.Agora.Android/Xamarin.Agora.Voice.Android/Javadoc/zip
Xamarin.Agora.iOS/Xamarin.Agora.Full.iOS/AgoraRtcCryptoLoader.framework
Xamarin.Agora.iOS/Xamarin.Agora.Full.iOS/AgoraRtcKit.framework
Xamarin.Agora.iOS/Xamarin.Agora.Voice.iOS/AgoraRtcCryptoLoader.framework
Xamarin.Agora.iOS/Xamarin.Agora.Voice.iOS/AgoraRtcKit.framework
Xamarin.Agora.Mac/Xamarin.Agora.Full.Mac/AgoraRtcKit.framework
Xamarin.Agora.Mac/Xamarin.Agora.Voice.Mac/AgoraRtcKit.framework
Xamarin.Agora.Mac/Xamarin.Agora.Voice.Mac/bin
Xamarin.Agora.Mac/Xamarin.Agora.Voice.Mac/obj
Xamarin.Agora.iOS/packages
Xamarin.Agora.Android/Xamarin.Agora.Rtm.Android/obj
Xamarin.Agora.iOS/Xamarin.Agora.Rtm.iOS/obj
Xamarin.Agora.iOS/Xamarin.Agora.Rtm.iOS/libs/AgoraRtmKit.framework
Xamarin.Agora.Mac/Xamarin.Agora.Rtm.Mac/AgoraRtmKit.framework
Xamarin.Agora.Mac/Xamarin.Agora.Rtm.Mac/bin
Xamarin.Agora.Mac/Xamarin.Agora.Rtm.Mac/obj
Xamarin.Agora.iOS/Xamarin.Agora.Rtm.iOS/AgoraRtmKit.framework
Xamarin.Agora.iOS/Xamarin.Agora.Voice.iOS.AllArchitecture/obj
Xamarin.Agora.iOS/Xamarin.Agora.Full.iOS.AllArchitecture/obj
